body {
    background-color: pink;
}

.fivea {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    padding-left: 8px;
    width: 350px;
    background-color: white;

}

.fiveb,
.fivebb {
    text-align: center;
    background-color: white;
    width: 500px;

}

.fiveb {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 0;

}

.fivebb {
    margin-top: 0px;
    color: red;
    font-style: italic;
    font-size: 20px;
    padding-top: 5px;
}

.html-struct {
    background-color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    padding-left: 10px;
}

.html-title {
    font-size: 30px;
    font-weight: bold;
    width: 350px;
    margin-bottom: 5px;
}

.html-title2 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: grey;
}

.html-content {
    font-weight: bold;
    font-size: 15px;
}

.html-bottom {
    background-color: green;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 15px;
    margin-bottom: 5px;
    border-radius: 5px;
}

span:hover {
    color: purple;
}

.apple-str {
    background-color: white;
    width: 450px;
    font-family: Arial, Helvetica, sans-serif;
}

.apple,
.apple1,
.learn {
    margin-top: 0px;
    margin-bottom: 0px;
}

.apple {
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 8pxpx;

}

.apple1 {
    font-weight: bold;
    font-size: 15px;
    text-align: center;

}

.learn {
    text-align: center;
    margin-top: 8px;
    color: blue;

}

.learn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.learn:active {
    color: black;
}

.macbook {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: 450px;
    height: 150px;
}

.mac-heading {

    text-align: center;
    font-weight: bold;
    padding-top: 8px;
    color: rgb(253, 131, 38);
    margin-bottom: 0px;
}

.mac-heading2 {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.mac-heading3 {
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 0px;
}

.mac-txt {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0px;
    font-weight: 550;
}

.mac-button {
    background-color: rgb(18, 129, 255);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 20px;
    margin-left: 210px;
    margin-top: 5px;
}

.mac-button:hover {
    background-color: blue;
    box-shadow: 5px 5px 6px rgb(68, 68, 68);
}

.fivef {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 300px;
}

.line1 {
    font-size: 30px;
    font-weight: 530;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 0px;
}

.line11 {
    font-size: 15px;
    color: rgb(114, 113, 113);
    font-weight: bold;
}

.line2 {
    margin-top: 5px;
    margin-bottom: 0px;
    padding-left: 10px;
    padding-top: 0px;
    color: rgb(21, 158, 21);
    font-weight: 550;
}

.line3 {
    padding-left: 10px;
    color: rgba(4, 3, 3, 0.633);
    font-weight: bold;
    margin-top: 3px;
    padding-bottom: 10px;
}

.line12 {
    color: rgb(211, 35, 35);
}

.line12:hover {
    color: rgb(211, 35, 35);
}